* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 100px;
  background-color: rgb(33, 33, 71);
  align-items: center;
  padding: 0 5%;
}

header h1{
  background-color: white;
  margin: 10px 0;
  padding: 0 10px;
}

header nav a {
  text-decoration: none;
  color: white;
  padding: 0 10px;
}

.hero-banner{
 background-image: url(./images/02-hero-bg.jpg);
 background-position: center;
height: 300px;
width: 100%;
align-items: center;
padding: 0 5%;
position: relative;
}
img{
  position: relative;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.hero-banner h2{
  background-color: white;
  max-width: 300px;
  align-items: center;
  position: absolute;
  top: 140px;
  left: 70%;
}

.page-section{
  padding: 20px 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.page-section h2{
  padding-right: 40px;
}

.work-card{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
}

.work-top{
  width: 100%;
  border: 3px;
  border-color: grey;
}
.work-top_inner{
  height: 360px;
  width: 100%700px;
  background-image: url(./images/02-portfolio-1.jpg);
  background-position: center;
  position: relative;
  


}

.work-top_txts{
  background-color: whitesmoke;
  padding: 6px;
  position: absolute;
  margin-top: auto;
  margin-bottom: 16px;
  top: 280px;
}

.work-grid{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
}

.work-small-a{
  width: 49%;
  background-image: url(./images/02-run-buddy.jpg);
}
.work-small-b{
  width: 49%;
  background-image: url(./images/02-portfolio-3.jpg);
}

.work-small-c{
  width: 49%;
  background-image: url(./images/02-portfolio-2.jpg);
}

.work-small-d{
  width: 49%;
  background-image: url(./images/02-portfolio-3.jpg);
}





h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
